@charset "UTF-8";
@media all and (max-width: 800px) and (min-width: 100px) {
  .bullelogo {
    color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    background-color: #9356DC;
    width: 8.5%;
    height: 1.7em;
    margin-right: 2%;
  }

  .logo {
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding-right: 10%;
    margin-bottom: 5%;
    align-content: center;
    box-shadow: grey 1px 1px 1px 1px;
    height: 2.9em;
  }
}
body {
  flex-direction: column;
}
body a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
}
main li {
  list-style: none;
  display: flex;
  flex-direction: column;
}

#localisation {
  display: flex;
  justify-content: center;
}

@media all and (max-width: 800px) and (min-width: 100px) {
  body {
    align-items: center;
  }
}
@media all and (max-width: 800px) and (min-width: 100px) {
  #restaurants {
    display: flex;
    height: auto;
    border: transparent 1px;
    border-radius: 8%;
    background-color: #f2f2f2;
    flex-direction: column;
    box-shadow: 3px 3px 3px 3px #f2f2f2;
    width: 90%;
  }

  #La-palette_du_goût {
    display: flex;
    border: 1px transparent;
    background-image: url(../images/restaurants/lapalettedugout.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    height: 20em;
    flex-direction: column;
    margin-bottom: 5%;
    width: 99%;
  }

  #la-note-enchanté {
    display: flex;
    border: 1px transparent;
    background-image: url(../images/restaurants/la-note-enchantée.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    height: 20em;
    flex-direction: column;
    margin-bottom: 5%;
    width: 99%;
  }

  #a-la-française {
    display: flex;
    border: 1px transparent;
    background-image: url(../images/restaurants/alafrançaise.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    height: 20em;
    flex-direction: column-reverse;
    margin-bottom: 5%;
    width: 99%;
  }

  #le-delice-des-sens {
    display: flex;
    border: 1px transparent;
    background-image: url(../images/restaurants/delicedessens.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    height: 20em;
    flex-direction: column-reverse;
    margin-bottom: 5%;
    width: 99%;
  }

  .textresto {
    background-color: white;
    width: 23.5em;
    border-radius: 10px;
    padding-left: 1%;
    padding-bottom: 3%;
    flex-direction: column;
    border: 1px solid black;
    white-space: nowrap;
    width: 99%;
  }

  .boite {
    display: flex;
  }

  .new {
    height: 3.5em;
    color: #0b5e0b;
    border: 1px solid #99E2D0;
    border-radius: 10px;
    width: 15%;
    background-color: #99E2D0;
    display: flex;
    margin-left: 80%;
    margin-bottom: 35%;
    margin-top: 8%;
  }
}
.btn {
  background-color: #FF79DA;
  border-radius: 10px;
  border: 1px transparent;
  color: white;
  height: 2em;
  width: auto;
  display: flex;
  justify-content: center;
  padding-top: 1.5%;
  width: 50%;
  align-self: center;
}

.explo {
  border: 1px solid black;
  border-radius: 10px;
  background-color: whitesmoke;
  margin-top: 2%;
  height: 12em;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.retour {
  font-size: xx-large;
  color: black;
}

@media all and (max-width: 800px) and (min-width: 100px) {
  header {
    font-size: small;
    align-items: center;
    width: 100%;
  }

  .logohead {
    width: 90%;
    padding-left: 0%;
  }
}
footer {
  display: flex;
  flex-direction: column;
  background-color: #585454;
  color: white;
  width: auto;
}
footer li {
  list-style: none;
  margin-bottom: 2%;
}

h1 {
  font-family: "Shrikhaland";
}

body {
  font-family: "Roboto";
}

.menus {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #e9e3e3;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menuspalette {
  flex-direction: column;
  width: 100%;
}

.boitemenus {
  width: 100%;
  margin-bottom: 5%;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px whitesmoke;
  width: 98%;
  display: flex;
  padding-left: 1%;
}

.btnmenus {
  margin-left: 25%;
  background-color: #FF79DA;
  border-radius: 10px;
  border: 1px transparent;
  color: white;
  height: 2em;
  width: auto;
  display: flex;
  justify-content: center;
  padding-top: 1.5%;
  width: 50%;
  align-self: center;
}

/*# sourceMappingURL=stylesomf.css.map */
