@charset "UTF-8";
#Fonctionement {
  display: flex;
  flex-direction: column;
  animation: fonctfondu 3s linear forwards;
  margin-top: 5%;
}
#Fonctionement h2 {
  padding-left: 15%;
}

.navfonct {
  display: inline-flex;
  padding-bottom: 2%;
  justify-content: center;
  text-align: center;
  max-width: 100%;
}

.bulle {
  color: white;
  border-radius: 30px;
  background-color: #9356DC;
  width: 1.4%;
  height: 1.5em;
  position: absolute;
  left: 34.5%;
  padding-top: 0.5%;
  font-size: xx-small;
  margin-top: 0.7%;
}

.bulle > p {
  margin-top: -15%;
  font-size: small;
}

.textfonct {
  border-radius: 30px;
  background-color: white;
  width: 30%;
  height: 2.5em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-top: 0.5%;
}
.textfonct:hover {
  background-color: #e0e0e0;
}

.textfonct:hover > .ico {
  color: #9356DC;
}

.textfonct > i {
  padding-right: 10%;
}

@media all and (max-width: 800px) and (min-width: 100px) {
  .bulle {
    border-radius: 30px;
    background-color: #9356DC;
    width: 5%;
    height: 1.8em;
    position: absolute;
    left: 9%;
    margin-top: 5%;
    font-size: x-small;
  }

  .bulle > p {
    display: flex;
    margin-left: 30%;
    margin-top: 7%;
    font-size: small;
  }

  .navfonct {
    display: inline-flex;
    padding-bottom: 5%;
    width: 100%;
  }

  .textfonct {
    border-radius: 30px;
    background-color: white;
    max-width: 100%;
    height: 2.5em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-top: 4%;
    margin-right: 9%;
    margin-left: 12%;
    padding-right: 10%;
    white-space: nowrap;
    width: 100%;
  }

  .textfonct > i {
    padding-right: 10%;
  }

  .ico {
    padding-right: 3%;
  }
}
body {
  flex-direction: column;
  margin: 0%;
}
body a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
}
main li {
  list-style: none;
  display: flex;
  flex-direction: column;
}

#localisation {
  display: flex;
  justify-content: center;
}

/*---spiner chargement----*/
.chargement {
  position: absolute;
  height: 20.5%;
  width: 100%;
  padding-top: 10%;
  color: #9356DC;
  text-align: center;
  animation: fonduload 3s linear forwards;
}

.loader {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.quart-loader {
  border: 6px transparent rgba(255, 255, 255, 0.4);
  border-radius: 50px;
}

.quart-loader::after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  top: -6px;
  left: -6px;
  border: 6px solid;
  border-radius: 50px;
  border-top-color: #FF79DA;
  animation: spin 3s linear infinite;
}

/*---fin du loader--*/
@media all and (max-width: 800px) and (min-width: 100px) {
  body {
    align-items: center;
  }

  main {
    align-items: initial;
  }
}
#Restaurants {
  width: 100%;
  align-self: center;
  animation: opa 2s linear forwards;
  background-color: #faf6f6;
}

#Restaurants > h2 {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

a {
  color: black;
}

.text {
  text-align: center;
}

.textresto {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 30%;
  margin-right: 53%;
  border-radius: 30px 0px 0px 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.new {
  border-radius: 5px;
  height: 3.5em;
  color: #0b5e0b;
  border: 1px solid #99E2D0;
  width: 10%;
  background-color: #99E2D0;
  display: flex;
  margin-left: 8%;
  justify-content: center;
}

.new > p {
  font-weight: bolder;
}

#La-palette_du_goût {
  display: flex;
  border: 1px transparent;
  background-image: url(../images/restaurants/lapalettedugout.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
  width: 100%;
  flex-direction: row-reverse;
  margin-bottom: 5%;
  height: 15em;
}

#la-note-enchanté {
  display: flex;
  border: 1px transparent;
  background-image: url(../images/restaurants/la-note-enchantée.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
  flex-direction: row-reverse;
  margin-bottom: 5%;
  margin-top: 5%;
  width: 100%;
  height: 15em;
}

#a-la-française {
  display: flex;
  border: 1px transparent;
  background-image: url(../images/restaurants/alafrançaise.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
  width: 100%;
  flex-direction: row;
  margin-bottom: 5%;
  margin-top: 5%;
  height: 15em;
}

#le-delice-des-sens {
  display: flex;
  border: 1px transparent;
  background-image: url(../images/restaurants/delicedessens.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
  width: 100%;
  flex-direction: row;
  margin-bottom: 5%;
  margin-top: 5%;
  height: 15em;
}

@media all and (max-width: 800px) and (min-width: 100px) {
  #Restaurants {
    display: flex;
    height: auto;
    border: transparent 1px;
    border-radius: 0%;
    background-color: #faf6f6;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  #La-palette_du_goût {
    display: flex;
    border: 1px transparent;
    background-image: url(../images/restaurants/lapalettedugout.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    height: 20em;
    flex-direction: column;
    margin-bottom: 5%;
    width: 22.8em;
  }

  #la-note-enchanté {
    display: flex;
    border: 1px transparent;
    background-image: url(../images/restaurants/la-note-enchantée.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    height: 20em;
    flex-direction: column;
    margin-bottom: 5%;
    width: 22.8em;
  }

  #a-la-française {
    display: flex;
    border: 1px transparent;
    background-image: url(../images/restaurants/alafrançaise.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    height: 20em;
    flex-direction: column-reverse;
    margin-bottom: 5%;
    width: 22.8em;
  }

  #le-delice-des-sens {
    display: flex;
    background-image: url(../images/restaurants/delicedessens.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    height: 20em;
    flex-direction: column-reverse;
    margin-bottom: 5%;
    width: 22.8em;
  }

  .textresto {
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: white;
    border-radius: 0px 0px 30px 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-bottom: 3%;
    flex-direction: column;
    white-space: nowrap;
    width: 22.8em;
  }

  .text {
    width: 100%;
    padding-left: 5%;
    text-align: left;
  }

  .new > p {
    margin-top: 9%;
  }

  .new {
    height: 2em;
    color: #0b5e0b;
    border: 1px solid #99E2D0;
    width: 18%;
    background-color: #99E2D0;
    display: flex;
    margin-left: 80%;
    margin-bottom: 40%;
    margin-top: 8%;
  }
}
.headindex {
  animation: opa 3s linear forwards;
}

header {
  text-align: center;
  align-items: center;
  width: 100%;
}

.headmenus {
  display: flex;
}

.barrelogo {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-bottom: 3%;
  padding-top: 3%;
}

.logohead {
  display: flex;
  max-width: 100%;
  padding-left: 33%;
  height: 5em;
}

.btn {
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  color: white;
  height: 3em;
  width: auto;
  display: flex;
  justify-content: center;
  width: 50%;
  align-items: center;
  align-self: center;
  box-shadow: 5px 5px 5px #666666;
}
.btn.btn:hover {
  background: #ff81dc;
  box-shadow: 6px 6px 6px black;
}

.explo {
  border-radius: 10px;
  margin-top: 2%;
  height: 15em;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  white-space: nowrap;
}

.retour {
  font-size: xx-large;
  color: black;
}

#localisation {
  background-color: whitesmoke;
  color: grey;
}

@media all and (max-width: 800px) and (min-width: 100px) {
  header {
    font-size: small;
    align-items: center;
    width: 100%;
  }

  .barrelogo {
    max-width: 100%;
  }

  .logohead {
    display: flex;
    height: 2.5em;
    padding-left: 25%;
  }

  .btn {
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 30px;
    border: 1px transparent;
    color: white;
    height: 3em;
    width: auto;
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
    align-self: center;
  }

  .explo {
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    white-space: nowrap;
    background-color: #faf6f6;
    padding-bottom: 5%;
  }

  .retour {
    font-size: x-large;
    color: black;
    width: 10%;
    display: flex;
  }

  #localisation {
    background-color: rgba(241, 238, 238, 0.815);
  }

  .headmenus {
    display: flex;
    max-width: 100%;
  }

  .headmenus > a {
    width: 5%;
  }

  .headmenus > i {
    width: 5%;
  }
}
footer {
  display: flex;
  flex-direction: column;
  background-color: #413c3c;
  color: white;
  width: auto;
  text-align: center;
  animation: opa 3s forwards;
}
footer a {
  color: white;
}
footer h2 {
  font-family: "Shrikhand";
  font-weight: bold;
  padding-left: 10%;
}
footer li {
  list-style: none;
  margin-bottom: 2%;
}

@media all and (max-width: 800px) and (min-width: 100px) {
  footer {
    text-align: left;
  }
}
#imgfondpalette {
  height: 20rem;
}

#imgfondnote {
  height: 70em;
}

#imgfondfrançaise {
  height: 50em;
}

#imgfondimgfonddelice {
  height: 25rem;
}

@media all and (max-width: 800px) and (min-width: 100px) {
  #imgfondpalette {
    height: 20rem;
  }

  #imgfondnote {
    height: 25rem;
  }

  #imgfondfrançaise {
    height: 20rem;
  }

  #imgfondimgfonddelice {
    height: 25rem;
  }
}
@font-face {
  src: url(../police/Roboto/Roboto-Bold.ttf);
  font-family: "Roboto-bold";
}
@font-face {
  src: url(../police/Roboto/Roboto-Regular.ttf);
  font-family: "Roboto-reg";
}
@font-face {
  src: url(../police/shrikhland/Shrikhand-Regular.ttf);
  font-family: "Shrikhand";
}
header {
  font-family: "Roboto-reg";
}

body {
  font-family: "Roboto-reg";
}

.textmenus h2 {
  font-family: "Shrikhand";
}

.prix {
  font-family: "Roboto-bold";
}

.headmenus h1 {
  font-family: "Shrikhand";
}

.menuspalette {
  display: flex;
  flex-direction: column-reverse;
  margin-top: -10%;
}

.menusnote {
  display: flex;
  flex-direction: column-reverse;
  margin-top: -35%;
}

.menusfrançaise {
  display: flex;
  flex-direction: column-reverse;
  margin-top: -13%;
}

.menusdelice {
  display: flex;
  flex-direction: column-reverse;
  margin-top: -13.5%;
}

.textmenus {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 30px;
  padding-left: 2%;
  padding-bottom: 5%;
}

.boitemenus {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  max-width: 99%;
}

.underlinevert {
  border-bottom: #99E2D0 1px solid;
  width: 8%;
}

/* transition menus vers le bas

animbas == entré
animbasp == plats
annimbasd== dessert

*/
.animbas {
  animation: slidedown 0.5s forwards;
}

.animbas2 {
  animation: slidedown2 1s forwards;
}

.animbas3 {
  animation: slidedown3 1.5s forwards;
}

.animbas4 {
  animation: slidedown3 2s forwards;
}

.animbasp {
  animation: slidedown 2.5s forwards;
}

.animbas2p {
  animation: slidedown2 3s forwards;
}

.animbas3p {
  animation: slidedown3 3.5s forwards;
}

.animbasd {
  animation: slidedown 4s forwards;
}

.animbas2d {
  animation: slidedown2 4.5s forwards;
}

.animbas3d {
  animation: slidedown 5s forwards;
}

/* checkbox cotée des boites menus*/
.boitemenus {
  margin-bottom: 3%;
}

.boitemenus:hover .icone {
  margin-right: 0;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.boitemenus:hover i {
  transform: rotate(360deg);
  transition-duration: 1s;
}

.descrip {
  width: 100%;
  display: flex;
  max-width: 100%;
  overflow: hidden;
}

.textedescrip {
  width: 100%;
  margin-left: 1rem;
  max-width: 100%;
  overflow: hidden;
}

.prix {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
  margin-right: 1rem;
  max-width: 100%;
}

.icone {
  width: 7rem;
  background: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -7rem;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.icone > i {
  color: #99e2d0;
  padding: 0.5rem;
  border-radius: 50%;
  background: white;
  transition-duration: 0.5s;
}

.textedescrip > * {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

/* animation du coeur Index*/
.coeur {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 3;
}

.coeur > .fas {
  opacity: 0;
  transition-duration: 0.5s;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.coeur > i {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  position: absolute;
  width: 4rem;
  height: 4rem;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

/*partie des menus*/
.coeurmenus {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 3;
}

.coeurmenus > .fas {
  opacity: 0;
  transition-duration: 0.5s;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.coeurmenus > i {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 10%;
  padding-bottom: 15%;
}

.checkmenuscoeur {
  position: absolute;
  width: 3rem;
  height: 3rem;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
  right: 9%;
  bottom: -50%;
}

/*modif general pour coeur*/
.fa-heart {
  font-size: xx-large;
}

input:checked ~ .far {
  transition-duration: 0.5s;
  opacity: 0;
}

input:checked ~ .fas {
  transition-duration: 0.5s;
  opacity: 1;
}

/* Fin de lanim du coeur*/
@media all and (min-width: 800px) {
  .coeurmenus > .far {
    padding-top: 12%;
  }

  .coeurmenus > .fas {
    padding-top: 12%;
  }

  .fa-heart {
    font-size: 50px;
  }
}
@keyframes opa {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fonduload {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(-200px);
    opacity: 0;
  }
}
@keyframes fonctfondu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slidedown {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  50% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slidedown2 {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  50% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slidedown3 {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  50% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/*# sourceMappingURL=stylesomf.css.map */
