@charset "UTF-8";
#navliens {
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
}
main li {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.menus {
  border: 1px solid black;
  border-radius: 10%;
  background-color: grey;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.liens {
  border: blue 1px solid;
  border-radius: 10px;
  justify-content: space-between;
  justify-content: center;
  display: flex;
}

.logohead {
  display: flex;
  padding-left: 12%;
}

#localisation {
  display: flex;
  justify-content: center;
}

#restaurants {
  display: flex;
  height: auto;
  border: transparent 1px;
  border-radius: 8%;
  background-color: #f2f2f2;
  width: 32%;
  flex-direction: column;
  box-shadow: 3px 3px 3px 3px #f2f2f2;
}

#La-palette_du_goût {
  display: flex;
  border: 1px transparent;
  background-image: url(/images/restaurants/lapalettedugout.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
  height: 20em;
  width: 30em;
  flex-direction: column-reverse;
  margin-bottom: 5%;
}

#la-note-enchanté {
  display: flex;
  border: 1px transparent;
  background-image: url(/images/restaurants/la-note-enchantée.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
  height: 20em;
  width: 30em;
  flex-direction: column-reverse;
  margin-bottom: 5%;
}

#a-la-française {
  display: flex;
  border: 1px transparent;
  background-image: url(/images/restaurants/alafrançaise.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
  height: 20em;
  width: 30em;
  flex-direction: column-reverse;
  margin-bottom: 5%;
}

#le-delice-des-sens {
  display: flex;
  border: 1px transparent;
  background-image: url(/images/restaurants/delicedessens.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
  height: 20em;
  width: 30em;
  flex-direction: column-reverse;
  margin-bottom: 5%;
}

.textresto {
  background-color: white;
  width: 29.7em;
  border-radius: 10px;
  padding-left: 1%;
  padding-bottom: 3%;
  flex-direction: column;
  border: 1px solid black;
}

.boite {
  display: flex;
}

.new {
  color: #99E2D0;
  border: 1px solid #99E2D0;
  border-radius: 10px;
  width: 15%;
  background-color: green;
  display: flex;
  justify-content: center;
  margin-left: 80%;
  margin-bottom: 25%;
}

.btn {
  background-color: #FF79DA;
  border-radius: 10px;
  border: 1px transparent;
  color: white;
  height: 2em;
  width: auto;
  display: flex;
  justify-content: center;
  padding-top: 1.5%;
}

.explo {
  border: 1px solid black;
  border-radius: 10px;
  background-color: whitesmoke;
  margin-top: 2%;
  height: 12em;
}

footer {
  background-color: #585454;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer li {
  list-style: none;
  display: flex;
  margin: 10%;
  width: 100%;
}

.p1 {
  background-image: url(/images/restaurants/lapalettedugout.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.p2 {
  background-image: url(/images/restaurants/la-note-enchantée.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.p3 {
  background-image: url(/images/restaurants/alafrançaise.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.p4 {
  background-image: url(/images/restaurants/delicedessens.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: "Shrikhaland";
}

body {
  font-family: "Roboto";
}

/*# sourceMappingURL=styles.css.map */
