  .checkbox
    {
    
    }

    .boitemenus:hover > .checkbox
    {
       display: flex;
       animation: slideleft 5s forwards;
    }
 

 .icocheck
 {
    font-size: xx-large;
 }


/* transition menus vers le bas

animbas == entré
animbasp == plats
annimbasd== dessert

*/

.animbas
{
    animation: slidedown 2s forwards ;
}


.animbas2
 {
  animation: slidedown2 4s forwards  ;
 }

.animbas3
{
 animation: slidedown3 6s forwards ;
}


.animbasp
{
    animation: slidedown 8s  forwards ;
}


.animbas2p
 {
  animation: slidedown2 10s  forwards  ;
 }

.animbas3p
{
 animation: slidedown3 12s  forwards ;
}


.animbasd
{
    animation: slidedown 14s  forwards ;
}


.animbas2d
 {
  animation: slidedown2 16s  forwards  ;
 }

.animbas3d
{
 animation: slidedown3 18s  forwards ;
}