

/* transition menus vers le bas

animbas == entré
animbasp == plats
annimbasd== dessert

*/

.animbas
{
    animation: slidedown 2s forwards ;
}


.animbas2
 {
  animation: slidedown2 4s forwards  ;
 }

.animbas3
{
 animation: slidedown3 6s forwards ;
}

.animbas4
{
 animation: slidedown3 8s forwards ;
}


.animbasp
{
    animation: slidedown 10s  forwards ;
}


.animbas2p
 {
  animation: slidedown2 12s  forwards  ;
 }

.animbas3p
{
 animation: slidedown3 14s  forwards ;
}


.animbasd
{
    animation: slidedown 16s  forwards ;
}


.animbas2d
 {
  animation: slidedown2 18s  forwards  ;
 }

.animbas3d
{
 animation: slidedown 20s  forwards ;
}



/* checkbox cotée des boites menus*/


.boitemenus:hover .icone {
  margin-right: 0;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.boitemenus:hover i {
  transform: rotate(360deg);
  transition-duration: 1s;
}
.descrip {
  width: 100%;
  display: flex;
max-width: 99%;
overflow: hidden;
}
.textedescrip {
  width: 100%;
  margin-left: 1rem;
max-width: 99%;
overflow: hidden;
}
.prix {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
  margin-right: 1rem;
max-width: 99%;
}
.icone {
  width: 7rem;
  background: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -7rem;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.icone > i {
  color: #99e2d0;
  padding: 0.5rem;
  border-radius: 50%;
  background: white;
  transition-duration: 0.5s;
}

.textedescrip > *{
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
max-width: 100%;
}











