  .checkbox
    {
        background-color: $vert;
        height: 50;
     position: relative;
     opacity: 0;
     display: none;
     border: $vert 1px solid;
     width: 10%;
     border-radius: 20px;
     overflow: hidden;
    
    }

    .boitemenus:hover > .checkbox
    {
        display: flex;
       animation: slideleft 5s forwards;
    }
 
    @keyframes slideleft 
    {
       from {
           transform: translateX(50px);
           opacity: 0;
       }

       to {
           transform: translateX(-0px);
           opacity: 1;
       }
    
    }

 .icocheck
 {
     
    padding-top: 8%;
    padding-left: 45%;
    font-size: xx-large;
    color: red;
    
 }

/* transition menus vers le bas*/

.animbas
{
    animation: slidedown 5s ;
}

@keyframes slidedown 
    {
       from {
           transform: translateY(-80px);
           opacity: 0;
       }

       to {
           transform: translateY(0px);
           opacity: 1;
       }
    }

    @keyframes slidedown2
    {
       0% {
           transform: translateY(-80px);
           opacity: 0;
       }

       10%{
           transform: translateY(-70px);
           opacity: 0;
       }

       100% {
           transform: translateY(0px);
           opacity: 1;
       }

    }


    .animbas2
    {
            animation: slidedown2 5s 3s ;
    }


@media  all and (max-width : 800px) and (min-width:100px)
{
    
}
