body
{
    display: flex;
   align-items: center;
   flex-direction: column; 
   width: auto;
   a 
   {
       text-decoration: none;
   }
}

main
{
    display: flex;
    flex-direction: column;
    li{
        list-style: none;
        display: flex;
        flex-direction: column;
    }
}


.logohead
{
    display: flex;
    padding-left: 12%;
}

#localisation
{   display: flex;
    justify-content: center;
}