body
{
    display: flex;
   align-items: center;
   flex-direction: column; 
   a 
   {
       text-decoration: none;
   }
}

main
{
    display: flex;
    flex-direction: column;
    li{
        list-style: none;
        display: flex;
        flex-direction: column;
    }
}


.menus
{
    border: 1px solid black;
    border-radius: 10%;
    background-color: grey;   
    display: flex;
    align-items: center;
    flex-direction: column;

}

.liens
{
   border: blue 1px solid;
   border-radius: 10px;
   justify-content: space-between;
   justify-content: center;
   display: flex;   
}

.logohead
{
    display: flex;
    padding-left: 12%;
}

#localisation
{   display: flex;
    justify-content: center;
}