


body
{
    
   flex-direction: column; 
   margin: 0%;
   text-align: center;
   
   a 
   {
       text-decoration: none;
   }
}



main
{   
    display: flex;
    flex-direction: column;
    li{
        list-style: none;
        display: flex;
        flex-direction: column;
    }
}



#localisation
{   display: flex;
    justify-content: center;
}


/*---spiner chargement----*/

.chargement
{
    background-color:#16a085 ;
    position : fixed;
    cursor : wait;   
}

.loader
{
 width: 50px;
 height: 50px;
 display: inline-block;
 vertical-align: middle;
 position: relative;
}
.quart-loader
{
    border: 6px transparent rgba(255, 255, 255, 0.4);
    border-radius:50px;
}

.quart-loader::after
{
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    top : -6px;
    left: 0px;
    border-top: 6px solid ;
    border-radius: 50px;
    border-top-color:#fff ;
    animation: spin 1s linear infinite;
}

@keyframes spin
{
    0% {transform: rotate(0deg);}
    100%{transform: rotate(360deg);}

}

/*---fin du loader--*/

@media  all and (max-width : 800px) and (min-width:100px)
{

body
{
    align-items: center;
}
main
{
  align-items: initial;
}
}