
@media  all and (max-width : 800px) and (min-width:100px)
{

.bullelogo
{
    color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    flex-direction: column;
    background-color: $violet;
    width: 8.5%;
    height: 1.70em;
    margin-right: 2%;
    
    
}

.logo
{
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
    justify-content: space-between;
    width: 80%;
    padding-right: 10%;
    margin-bottom: 5%;
    align-content: center;
    box-shadow: grey 1px 1px 1px 1px;
    height: 2.9em;
}

}


