#Fonctionement
{
    display: flex;
    flex-direction: column;
    animation: fonctfondu 2s linear forwards;
    h2
    {
        padding-left: 15%;
    }
}





.navfonct
{
    display: inline-flex;
    padding-bottom: 2%;
    justify-content: center;
   text-align: center;
   max-width: 100%;
      
}

.bulle
{
    color:white;
    border-radius: 30px ;
    background-color: $violet;
    width: 3%;
    height: 2em;
    position: absolute;
    left: 21%;
    padding-top:0.5%;
}



.textfonct
{
    border-radius: 30px;
    background-color: white;
    width: 55%;
    height: 2em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-top:0.5%;
      
   &:hover
   {
       background-color: rgb(224, 224, 224);
   }
}
.textfonct:hover > .ico 
{
    color:$violet;
}


.textfonct > i
{
    padding-right: 10%;
}


@media  all and (max-width : 800px) and (min-width:100px)
{
    .bulle
    {
        border-radius: 30px ;
        background-color: $violet;
        width: 5%;
        height: 1.8em;
        position: absolute;
        left: 9%;
        margin-top: 5%;
        font-size: x-small;
          
        
    }

    .bulle > p
    {
        display: flex;
        margin-left: 30%;
        margin-top: 7%;
        font-size: small;
    }


    .navfonct
{
    display: inline-flex;
    padding-bottom: 5%;
     width: 100%;
}


    .textfonct
    {
        border-radius: 30px;
        background-color: white;
        max-width: 100%;
        height: 2.5em;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding-top: 4%;
        margin-right: 9%;
        margin-left: 12%;
        padding-right: 10%;
        white-space: nowrap;
        width: 100%
    }

    .textfonct > i 
    {
        padding-right:10%;
    }
    
    .textfonct > p 

    {
        padding-left: 5%;
    }

    .ico
    {
        padding-right: 3%;
    }
}