


footer
{
    display: flex;
    flex-direction: column;
    background-color: rgb(65, 60, 60);
    color: white;
    width: auto;
a
{
    color: white;
}
    h2
{
    font-family: "Shrikhand";
    font-weight: bold;
    padding-left: 10%;
   
    
}
    li 
    {
        list-style: none;
        margin-bottom: 2%;
        
    }
}