footer
{
    display: flex;
    flex-direction: column;
    background-color: rgb(88, 84, 84);
    color: white;
    width: auto;

 li 
    {
        list-style: none;
        margin-bottom: 2%;
        
    }
}