.menuspalette
{
    display: flex;
    flex-direction: column-reverse;
    margin-top: -10%;
    margin-bottom: 5%;
}
.menusnote
{
    display: flex;
    flex-direction: column-reverse;
    margin-top: -35%;
    
}

.menusfrançaise
{
    display: flex;
    flex-direction: column-reverse;
    margin-top: -13%;
}

.menusdelice
{
    display: flex;
    flex-direction: column-reverse;
    margin-top: -13.5%;
}


.textmenus
{
 display: flex;
 flex-direction: column;
 background-color: whitesmoke;
 border-radius: 30px;
 padding-left: 2%;
}




.boitemenus
{
    
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 20px;
        display: flex;
        overflow: hidden;
       max-width: 99%;
   
} 


.underlinevert
{
    border-bottom: $vert 1px solid ;
    width: 8%;
}


