.menuspalette
{
    display: flex;
    flex-direction: column-reverse;
    margin-top: -10%;
    
}
.menusnote
{
    display: flex;
    flex-direction: column-reverse;
    margin-top: -35%;
    
}

.menusfrançaise
{
    display: flex;
    flex-direction: column-reverse;
    margin-top: -13%;
}

.menusdelice
{
    display: flex;
    flex-direction: column-reverse;
    margin-top: -13.5%;
}

.btnmenus
{

  background: linear-gradient( $rose, $violet);
   border-radius: 30px;
   border : 1px transparent; 
   color: white;
   height: 2em;
   width: auto;
   display: flex;
   justify-content: center;
   padding-top: 1.5%;
   width: 50%;
   align-self: center;
   margin-top: 10%;
   margin-bottom: 10%;
   box-shadow: 1px 1px 1px 1px whitesmoke;
}

.textmenus
{
 display: flex;
 flex-direction: column;
 background-color: whitesmoke;
 border-radius: 30px;
 padding-left: 2%;
   
}



.boitemenus
{
    
    width: 95%;
    margin-bottom: 5%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px white;
    padding-left: 1%;
    height: auto;
    display: flex;
    flex-direction: column;
     
}

.underlinevert
{
    border-bottom: $vert 1px solid ;
    width: 8%;
}

.coeur
{
    padding-left: 20%;
}