#restaurants
 {
     display: flex;
    height: auto;
    border:transparent 1px;
    border-radius: 8%;
    background-color: #f2f2f2;
    flex-direction: column;      
    box-shadow: 3px 3px 3px 3px #f2f2f2;
    
 }

#La-palette_du_goût
{
    display: flex;
    border: 1px transparent;
    background-image: url(/images/restaurants/lapalettedugout.jpg);
    background-position: bottom ;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    height: 20em;
    flex-direction: column;  
    margin-bottom: 5%;    
}


#la-note-enchanté
{
    display: flex;
    border: 1px transparent;
    background-image: url(/images/restaurants/la-note-enchantée.jpg);    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    height: 20em;
    flex-direction: column;  
    margin-bottom: 5%;    
}


#a-la-française
{
    display: flex;
    border: 1px transparent;
    background-image: url(/images/restaurants/alafrançaise.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    height: 20em;
    flex-direction: column-reverse;  
    margin-bottom: 5%;    
}


#le-delice-des-sens
{
    display: flex;
    border: 1px transparent;
    background-image: url(/images/restaurants/delicedessens.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    height: 20em;
    flex-direction: column-reverse;  
    margin-bottom: 5%;    
}

.textresto
{

    background-color: white;
    width: 23.5em;
    border-radius: 10px;
    padding-left: 1%;
    padding-bottom: 3%;
    flex-direction: column;
    border: 1px solid black;
    white-space: nowrap;
}

.boite
{
    display: flex;
}


.new
{
    color :$vert;
   border: 1px solid $vert;
   border-radius: 10px;
   width: 15%;
   background-color: green;
   display: flex;
   justify-content: center;
   margin-left: 80%;
   margin-bottom: 32%;
   margin-top: 8%;
}


