
@media  all and (max-width : 800px) and (min-width:100px)
{

#restaurants
 {
     display: flex;
    height: auto;
    border:transparent 1px;
    border-radius: 8%;
    background-color: #f2f2f2;
    flex-direction: column;      
    box-shadow: 3px 3px 3px 3px #f2f2f2;
    width: 90%;
    
 }

#La-palette_du_goût
{
    display: flex;
    border: 1px transparent;
    background-image: url(../images/restaurants/lapalettedugout.jpg);
    background-position: bottom ;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    height: 20em;
    flex-direction: column;  
    margin-bottom: 5%; 
    width: 99%;  

}


#la-note-enchanté
{
    display: flex;
    border: 1px transparent;
    background-image: url(../images/restaurants/la-note-enchantée.jpg);    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    height: 20em;
    flex-direction: column;  
    margin-bottom: 5%; 
    width: 99%;    
}


#a-la-française
{
    display: flex;
    border: 1px transparent;
    background-image: url(../images/restaurants/alafrançaise.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    height: 20em;
    flex-direction: column-reverse;  
    margin-bottom: 5%;   
    width: 99%;  
}


#le-delice-des-sens
{
    display: flex;
    border: 1px transparent;
    background-image: url(../images/restaurants/delicedessens.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    height: 20em;
    flex-direction: column-reverse;  
    margin-bottom: 5%; 
    width: 99%;    
}

.textresto
{

    background-color: white;
    width: 23.5em;
    border-radius: 10px;
    padding-left: 1%;
    padding-bottom: 3%;
    flex-direction: column;
    border: 1px solid black;
    white-space: nowrap;
    width: 99%; 
}

.boite
{
    display: flex;
}


.new
{
    height: 3.5em;
    color :rgb(11, 94, 11);
   border: 1px solid $vert;
   border-radius: 10px;
   width: 15%;
   background-color: $vert;
   display: flex;
   margin-left: 80%;
   margin-bottom: 35%;
   margin-top: 8%;
}
}

