#Restaurants
{
    width: 80%;
    align-self: center;
    animation: opa 5s linear forwards;
    background-color: rgb(250, 246, 246);
}

a 
{
    color: black;
}


.textresto 
{
   
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 30%;
    margin-right: 53%;
    border-radius: 30px 0px 0px 30px;  
    
}


.coeur{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 3
  }
  
  .coeur>.fas{
    opacity: 0;
    transition-duration: 0.5s;
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
  }
  
  .coeur>i{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  input{
    position: absolute;
    width: 4rem;
    height: 4rem;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }
  
  .fa-heart{
    font-size: 3rem;
  }
  
  
  input:checked ~ .far { /*clique N1*/
    transition-duration: 0.5s;
    opacity: 0;
  }
  
  input:checked ~ .fas{ /*clique N2*/
    transition-duration: 0.5s;
    opacity: 1;
  }





.new
{
    height: 3.5em;
    color :rgb(11, 94, 11);
   border: 1px solid $vert;
   border-radius: 10px;
   width: 10%;
   background-color: $vert;
   display: flex;
   margin-left: 8%;
   justify-content: center;
}

#La-palette_du_goût
{
    display: flex;
    border: 1px transparent;
    background-image: url(../images/restaurants/lapalettedugout.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    width: 100%;
    flex-direction: row-reverse;
    margin-bottom: 5%; 
    height: 15em;
     
}


#la-note-enchanté
{
    display: flex;
    border: 1px transparent;
    background-image: url(../images/restaurants/la-note-enchantée.jpg);    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    flex-direction: row-reverse;
    margin-bottom: 5%; 
    margin-top:5%; 
    width: 100%;
    height: 15em;
}


#a-la-française
{
    display: flex;
    border: 1px transparent;
    background-image: url(../images/restaurants/alafrançaise.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    width: 100%;
    flex-direction: row;
    margin-bottom: 5%;   
    margin-top: 5%; 
    height: 15em;
}


#le-delice-des-sens
{
    display: flex;
    border: 1px transparent;
    background-image: url(../images/restaurants/delicedessens.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    width: 100%;
    flex-direction: row;
    margin-bottom: 5%;   
    margin-top: 5%; 
    height: 15em;
}



@media  all and (max-width : 800px) and (min-width:100px)
{

#Restaurants
 {
     display: flex;
    height: auto;
    border:transparent 1px;
    border-radius: 0%;
    background-color: rgb(250, 246, 246);
    flex-direction: column;      
    width: 100%;
    align-items: center;
    
    
 }

 #La-palette_du_goût
 {
     display: flex;
     border: 1px transparent;
     background-image: url(../images/restaurants/lapalettedugout.jpg);
     background-position: bottom ;
     background-size: cover;
     background-repeat: no-repeat;
     border-radius: 30px;
     height: 20em;
     flex-direction: column;  
     margin-bottom: 5%; 
     width: 22.8em;  
 
}


#la-note-enchanté
{
    display: flex;
    border: 1px transparent;
    background-image: url(../images/restaurants/la-note-enchantée.jpg);    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    height: 20em;
    flex-direction: column;  
    margin-bottom: 5%; 
    width: 22.8em;     
}


#a-la-française
{
    display: flex;
    border: 1px transparent;
    background-image: url(../images/restaurants/alafrançaise.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    height: 20em;
    flex-direction: column-reverse;  
    margin-bottom: 5%;   
    width: 22.8em;      
}


#le-delice-des-sens
{
    display: flex;
    background-image: url(../images/restaurants/delicedessens.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    height: 20em;
    flex-direction: column-reverse;  
    margin-bottom: 5%; 
    width: 22.8em;     
}

.textresto
{

    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: white;
    border-radius: 0px 0px 30px 30px;
    padding-bottom: 3%;
    flex-direction: column;
    white-space: nowrap;
    width: 23em;   
}

.text
{
   width: 70%; 
  
}




.new
{
    height: 3.5em;
    color :rgb(11, 94, 11);
   border: 1px solid $vert;
   border-radius: 10px;
   width: 18%;
   background-color: $vert;
   display: flex;
   margin-left: 80%;
   margin-bottom: 35%;
   margin-top: 8%;
}



}




