
@font-face 

{
        src: url(/police/Roboto/Roboto-Bold.ttf) ; 
        font-family: 'Roboto-bold';
}


@font-face 

{
        src: url(/police/Roboto/Roboto-Regular.ttf) ; 
        font-family: 'Roboto-reg';
}

@font-face 

{
        src: url(/police/shrikhland/Shrikhand-Regular.ttf) ; 
        font-family: 'Shrikhand';
}

header
{
    font-family: 'Roboto-reg';
h1, h2
{
    font-family:'Shrikhand' ;
     
}
}

body
{
    h1, h2
{
    font-family:'Shrikhand' ;
     
}
    font-family:'Roboto-reg';
}

.bold
{
    font-family:'Roboto-bold' ;
}