
@font-face 

{
        src: url(../police/Roboto/Roboto-Bold.ttf) ; 
        font-family: 'Roboto-bold';
}


@font-face 

{
        src: url(../police/Roboto/Roboto-Regular.ttf) ; 
        font-family: 'Roboto-reg';
}

@font-face 

{
        src: url(../police/shrikhland/Shrikhand-Regular.ttf) ; 
        font-family: 'Shrikhand';
}

header
{
    font-family: 'Roboto-reg';

}

body
{
    font-family:'Roboto-reg';
}

.textmenus
{
    h2 
     { font-family: 'Shrikhand';}
}

.gras
{
    font-family: 'Roboto-bold';   
}

.headmenus
{
   h1
   {
      font-family: 'Shrikhand';
    
   }
}
