.p1
{
    background-image: url(/images/restaurants/lapalettedugout.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.p2
{
    background-image: url(/images/restaurants/la-note-enchantée.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.p3{
    
    background-image: url(/images/restaurants/alafrançaise.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.p4{
    
    background-image: url(/images/restaurants/delicedessens.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}